* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);
    color:white;
    font-weight: 600;
}

.container {
    border: 2px solid #fff;
    height: min-content;
    width: 400px;
    font-size: 23px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* background-color: #c52121; */
    background: transparent;
    padding: 28px;
    box-shadow: 8px 8px 4px #909090, 8px 8px 0px #575757;

}

.password-genrator p{
    font-size: 1.4rem;
    margin-block: 8px;
}

.password-genrator{
    position: relative;
}

.password-genrator input[type="text"]{
    border: none;
    height: 35px;
    width: 100%;
    font-size: 20px;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    text-overflow: ellipsis;
}

.password-genrator input[type="range"]{
    border: none;
    height: 35px;
    width: 100%;
    font-size: 20px;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    
}

.Box{
    position: relative;
}

.Box span#copy-Icon{
    display:none;
    position: absolute;
    top:4px;
    right:6px;
    color:black;
    cursor: pointer;
    font-size: 28px;
    z-index: 2;
}

.Box span#copy-Icon:hover{
background-color: #0066ff;
font-size: 26px;
}

.Box span#check{
    display:none;
    position: absolute;
    top:4px;
    right:6px;
    color:black;
    cursor: pointer;
    font-size: 28px;
}
.row{
    display: flex;
    margin-block: 8px;
    cursor: pointer;
}

.row p{
    font-size: 18px;
    flex-basis: 100%;
}

.row label{
    font-size: 18px;
    flex-basis: 100%;
    cursor: pointer;
}

.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.getBtn{
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    padding: 12px 24px;
    background-color: #2c619e;
    margin-block: 8px;
    color: #fff;
    font-weight: 700;
}

.getBtn:hover{
    background-color: #0066ff;
    cursor: pointer;
}