*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}


.clock{
    border:2px solid rgba(255,255,255,1);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: rgba(255,255,255,0.1);
    font-size: 28px;
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.25);

}

.clock div{
   position:absolute;
   transform: rotate(calc(30deg * var(--i))); 
   inset: 175px;
   text-align: center;
}

.clock div b{
    transform: rotate(calc(-30deg * var(--i))); 
    display: inline-block;
 }

 .clock::before{
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
 }

 .hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .hand i{
    position: absolute;
    width:4px;
    height: 147px;
    /* height: var(--h); */
    background-color: var(--clr);
    
 }
 